<div class="container">
  <div class="user-details">
    <h3> 关于 </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>开放</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>在Erblocker的所有项目都是开源的，并且托管在github上。</p>
    </div>
    <div class="four columns">
      <h4>共享</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>这里列举出来的例子都是共享给所有人的，但是我们并无任何目的。</p>
    </div>
    <div class="four columns">
      <h4>参与</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>任何人都可以fork我们的项目，而且我们衷心的期望你的加入。</p>
    </div>
  </div>
</div>
