<footer class="footer">
    <p>&copy; {{site.username}}</p>
    <p> ChainsX <span class="love"> | </span> 项目支持： <a href="https://dixin.ren">Dixin_Ren</a></p>
    <p><a href="http://www.miitbeian.gov.cn">蜀ICP备17002989号-5</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
