<div class="container">
  <div class="user-details">
    <h3> 项目 </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/1.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> YRSSF </h5>
      <li> lua语言 </li>
      <p>一个分布式云教学/云课堂/直播平台系统CMS，睿易派的开源替代品
      </p><a class="project-link" href="https://github.com/Erblocker/YRSSF">前 往</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/2.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Pandora-magicbox </h5>
      <ul>
        <li> sh脚本 </li>
      </ul>
      <p>一个第三方的少年派静态的超轻量级服务器的架设，适用于安卓、Linux，路由等常见平台
      </p><a class="project-link" href="https://github.com/Erblocker/Pandora-magicbox">前 往</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/3.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> NoPad移动端 </h5>
      <li> APP </li>
      <p>基于Android Webview的移动端
      </p><a class="project-link" href="https://nopad.org/NoPad.apk">下 载</a>
    </div>
  </div>
</div>
